
@{
    ViewData["Title"] = "Вход";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="blog-cards">
        <div class="registration-card-container">
            <div class="registration-card">
                <div class="registration-content ">
                    <p class="blog-text">Введите логин</p>
                    <input id="userName" class="blog-text" placeholder="Логин" /><br />
                    <p class="blog-text">Введите пароль</p>
                    <input id="password" class="blog-text" type="password" placeholder="Пароль" /><br />                  
                    <a class="read-more" id="LoginUser" OnClick="LoginUser()" style="width:100%">Войти</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

