@model NewsBlog.ViewModel.LoginDataUserViewModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Вход";
    string userName = Context.Session.GetString("userName") ?? string.Empty;
    string firstName = Context.Session.GetString("firstName") ?? string.Empty;
    string lastName = Context.Session.GetString("lastName") ?? string.Empty;
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="blog-cards">
        <div class="registration-card-container">
            <div class="registration-card" style="height: 120px; width: 250px">
                <div class="registration-content ">
                    <p class="blog-text">Добро пожаловать, @(firstName ?? userName)</p>
                    <a href="/News/AllNews" class="read-more" style="width:100%;">На главную</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>