@model IEnumerable<NewsBlog.ViewModel.NewsViewModel>
@{
    ViewData["Title"] = "Новости";
}
<!DOCTYPE html>
<html lang="en">
<body>
    @await Html.PartialAsync("../News/_NewsPartical", Model)
</body>
</html>
