@page
@model NewsBlog.Views.News.AddNewsModel
@{
    string style = "width: 100%; margin-top: 20px;";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="blog-comment-cards">
        <div class="blog-comment-card">
            <div class="blog-comment-content">
                <textarea rows="1" class="nav-link text-dark" style="@style" id="newsTitle" placeholder="Заголовок" multiple="multiple"></textarea>
                <textarea rows="15" class="nav-link text-dark" style="@style" id="newsText" placeholder="Текст новости" multiple="multiple"></textarea>
                <div class="form-group file-area" style="@style">
                    <input style="width: 1050px; height: 112px" type="file" name="newsImage" id="newsImage" required="required" multiple="multiple" accept="image/*" />
                    <div class="file-dummy">
                        <div class="success">Файл выбран</div>
                        <div class="default">Выберите файл</div>
                    </div>
                </div>
                <div class="form-group">
                    <a rows="3" class="read-more" style="width: 100%" id="addComment" OnClick="AddNews()">Добавить новость</a>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>
