@model IEnumerable<NewsBlog.ViewModel.NewsViewModel>
@{
    ViewData["Title"] = "Новости";
}
<!DOCTYPE html>
<html lang="en">
<body>
    @{
        if (Model.Count() == 0)
        {
            <h1 style="font-size: 80px;font-weight: 200;color: #c3c3c3;    text-align: center;">
                Новостей нет
            </h1>
        }
        else
        {
            @await Html.PartialAsync("../News/_NewsPartical", Model)
        }
    }
</body>
</html>