html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.blog{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


.blog-comment-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.blog-comment-card {
    width: 325px;
    margin: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    overflow: hidden;
    flex: auto;
}
.blog-comment-content {
    padding: 16px;
}
.blog-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.blog-card {
    width: 325px;
    margin: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    overflow: hidden;
    flex: auto;
}
.blog-content {
    padding: 16px;
    margin-top: 25px;
}
img {
    width: 100%;
    height: 200px;
    object-fit:cover;
}


.blog-title {
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 1.5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
}
.blog-date {
    font-size: 12px;
    color: #777;
    margin-bottom: 4px;
}
.blog-comment-author {
    border-top: 2px solid #dddddd;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
}
.blog-author {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 500;
}
.registration-content {
    padding: 10px;
}
.registration-card {
    width: 200px;
    height: 350px;
    margin: auto;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
.registration-card-container {
    display: block;
    width: 600px;
    height: 600px;
    margin: auto;
}
.blog-category {
    padding: 5px;
    font-size: 12px;
    color: #777;
    margin-bottom: 4px;
    display: inline;
    background-color: #d9edf7;
    border-radius: 5px;
    text-decoration: none;
    cursor: default;
}
    .blog-category:hover {
        background-color: #3f788f;
        color: #fff;

        cursor: pointer;
    }
.blog-category-selected {
    border: 2px solid #6ed4d9;
}

.blog-description {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 25px;
}

.blog-comment-description {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 15px;
    margin-bottom: 25px;
}

.blog-read-description {
    font-size: 14px;
    color: #555;
    white-space: pre-wrap;
    margin-top: 25px;
    text-align: justify;
}

.read-more {
    display: inline-block;
    padding: 8px 12px;
    background-color: #7abbd5;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    transition: 0.3s ease;
    text-align: center;
    cursor: default;
}
    .read-more:hover {
        background-color: #3f788f;
        color: #fff;
        cursor: pointer;
    }
.add {
    display: block;
    position: absolute;
    right: 30px;
    bottom: 100px;
    padding: 8px 8px;
    background-color: #7abbd5;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    transition: 0.3s ease;
    text-align: center;
    cursor: default;
    font-size: 40px;
    width: 80px;
    height: 80px;
}
    .add:hover {
        background-color: #3f788f;
        color: #fff;
        cursor: pointer;
    }

.blog-text {
    margin-top: 5px;
    color: inherit;
    font-weight: 300;
    margin-bottom: 0px;
}
.error-message {
    text-align: center;
    color: red;
}
.search-category-detail {
    display: flex;
    flex-direction: row;
    padding: 3px;
    background-color: #d9edf7;
    border-radius: 3px;
}

.search-category {
    display: flex;
    margin: 2px 2px 2px 0px;
}

.category-results {
    display: flex;
    flex-direction: row;
}


input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
    opacity: 0;
    cursor: pointer;
}
.file-dummy {
    width: 100%;
    padding: 30px;
    background: rgb(113 221 255 / 19%);
    border: 2px dashed rgb(22 162 255 / 20%);
    text-align: center;
    transition: background 0.3s ease-in-out;
}
    .file-dummy:hover {
        background: rgb(6 187 243 / 28%);
        border: 2px dashed rgb(0 153 255 / 67%);
    }
